@using PagedList.Mvc

@model PagedList.IPagedList<Bloggable.Web.Models.Home.PostAnnotationViewModel>

@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1 class="page-header">
                Home Page
            </h1>

            @Html.DisplayFor(m => m)

            @Html.PagedListPager(Model, page => string.Format("/?page={0}", page))
        </div>
    </div>
</div>