@using Bloggable.Web.Controllers

@model Bloggable.Web.Models.Comments.InputModels.CreateCommentInputModel

<div class="well">
    <h4>
        <label for="Content" class="comment-content-label">Leave a Comment:</label>
    </h4>
    @using (Ajax.BeginForm<CommentsController>(
        c => c.Create(null),
        null,
        new AjaxOptions
        {
            HttpMethod = "POST",
            OnSuccess = "Bloggable.CommentActions.onCreateCommentSuccess",
            OnFailure = "Bloggable.CommentActions.onCreateCommentFailure",
            UpdateTargetId = "post-comments-container",
            InsertionMode = InsertionMode.Replace
        },
        new { role = "form", id = $"create-comment-form-{Model.PostId}" }))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(m => m.PostId)

        <div class="form-group">
            @Html.TextAreaFor(m => m.Content, new { @class = "form-control comment-content", rows = 5 })
            @Html.ValidationMessageFor(m => m.Content)
        </div>

        <div class="form-group">
            <div class="general-error-message-container field-validation-error hidden"></div>
        </div>

        <input type="submit" class="btn btn-primary" value="Submit" />
    }
</div>