@using Bloggable.Web.Controllers

@model Bloggable.Web.Models.Posts.ViewModels.PostsByTagViewModel

@{
    ViewBag.Title = $"Posts with tag '{Model.TagName}'";
}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1 class="page-header">
                Posts with tag - @(Html.ActionLink<BlogController>(Model.TagName, c => c.PostsByTag(Model.TagId, Model.TagUrlName)))
            </h1>

            @Html.DisplayFor(m => m.Posts)
        </div>
    </div>
</div>
