@using Bloggable.Web.Areas.Administration.Controllers
@using Bloggable.Web.Models.Administration.Pages.ViewModels

@{
    ViewBag.Title = "Pages administration";
}

<h2 class="text-center bottom-buffer">@ViewBag.Title</h2>

@(Html.KendoGrid<PageGridViewModel, PagesController>(
    m => m.Id,
    c => c.Read(null),
    null,
    null,
    c => c.Destroy(null, null),
    null,
    cols =>
    {
        cols.Bound(m => m.Id).Hidden(true);
        cols.Bound(m => m.Title);
        cols.Bound(m => m.Permalink);
        cols.Bound(m => m.CreatedOn).Hidden(true);
        cols.Bound(m => m.ModifiedOn).Hidden(true);
        cols.Command(m => m.Custom("Show").Click("showPage"));
        cols.Command(m => m.Custom("Edit page").Click("editPage"));
        cols.Command(command => command.Destroy());
    },
    toolbar => toolbar.Custom().Text("Create new page").Action<PagesController>(c => c.Create())
))

<script>
    function editPage(ev) {
        var baseUrl = '@(Url.Action<PagesController>(c => c.Update((int?)null)))';
        _goToLink(this, ev, baseUrl);
    }

    function showPage(ev) {
        var baseUrl = '@(Url.Action<PagesController>(c => c.Show(null)))';
        _goToLink(this, ev, baseUrl);
    }

    function _goToLink(grid, ev, baseUrl) {
        ev.preventDefault();

        var dataItem = grid.dataItem($(ev.currentTarget).closest('tr'));
        var id = dataItem.get('Id');

        var editUrl = baseUrl + '/' + id;

        window.location = editUrl;
    }
</script>