@using Bloggable.Web.Controllers
@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm<AccountController>(c => c.LogOff(), FormMethod.Post, null, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @(Html.ActionLink<ManageController>("Hello " + User.Identity.GetUserName() + "!", c => c.Index(null), null, new { title = "Manage" }))
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@(Html.ActionLink<AccountController>("Register", c => c.Register(), null, new { id = "registerLink" }))</li>
        <li>@(Html.ActionLink<AccountController>("Log in", c => c.Login(null), null, new { id = "loginLink" }))</li>
    </ul>
}
