@model IEnumerable<Bloggable.Web.Models.Common.ViewModels.TagViewModel>
           
<div class="well top-buffer">
    <h4>Most popular tags</h4>
    <div class="row container-fluid clearfix">
        @(Model.Any() ? Html.DisplayFor(m => m) : Html.Raw("<em>No tags...</em>"))
    </div>
</div>
