@{
    ViewBag.Title = "Bad request";
}

<div class="container">
    <h2>There was an error in your request. Your client has issued a malformed or illegal request...</h2>

    <img src="~/Content/images/400-bad-request.png" alt="Bad request..." class="error-image" />
</div>
