@{
    ViewBag.Title = "Unexpected error...";
}

<h2>
    An unexpecter error has occurred while processing your request... Please try again later...
</h2>

<div class="container">
    <img src="~/Content/images/general-error.jpg" alt="Error..." class="general-error-image" />
</div>
