@{
    ViewBag.Title = "Page not found...";
}

<h2>The requested page was not found...</h2>

<div class="container">
    <img src="~/Content/images/404-not-found.jpg" alt="Error..." class="page-not-found-image" />
</div>
