body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 18px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 300px;
}

.navbar {
    font-size: 15px;
}

.alert-container {
    position: fixed;
    left: 0;
    right: 0;
    padding: 0 3em;
}

.top-buffer {
    margin-top: 15px;
}

.bottom-buffer {
    margin-bottom: 15px;
}

.left-buffer {
    margin-left: 15px;
}

.right-buffer {
    margin-right: 15px;
}

#logoutForm {
    margin-bottom: 0;
}

.login-remember-me-container input[type="checkbox"] {
    margin-left: 0;
}

.field-validation-error {
    color: #ff4500;
}