@using Bloggable.Web.Controllers

@model Bloggable.Web.Models.Comments.InputModels.UpdateCommentInputModel

<div class="well">
    @using (Ajax.BeginForm<CommentsController>(
        c => c.Update(null),
        null,
        new AjaxOptions
        {
            HttpMethod = "POST",
            OnFailure = "onCommentUpdateError",
            OnSuccess = "onCommentUpdateSuccess",
            InsertionMode = InsertionMode.ReplaceWith,
            UpdateTargetId = $"post-comment-{Model.Id}"
        },
        new { role = "form" }))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(m => m.Id)

        <div class="form-group">
            @Html.TextAreaFor(m => m.Content, new { @class = "form-control max-width", rows = 5 })
        </div>

        <input type="submit" class="btn btn-primary" value="Submit" />
    }
</div>
